	<div class="site-wrapper-inner">
		<div class="chrome-container">

			<header>
				<ul class="nav masthead-nav">
					<li class="masthead-brand">
						<span class="item">Archway v{{ version }}</span>
						<ul class="submenu">
							<li>{{#link-to 'about'}}About{{/link-to}}</li>
							<li><a href="http://github.com/patternleaf/archway">Archway on GitHub</a></li>
						</ul>
					</li>
					<li>
						<span class="item">Model</span>
						<ul class="submenu">
							<li><a href="#" {{action 'selectModel3dFile'}}>Load Model</a></li>
						</ul>
					</li>
					<li>
						<span class="item">OPC</span>
						<ul class="submenu">
							{{#if opcLayout}}
							<li class="disabled">Currently loaded: {{opcLayout.name}}</li>
							{{/if}}
							<li><a {{action 'selectOPCLayoutFile'}}>Load OPC Layout</a></li>
						</ul>
					</li>
					<li>
						<span class="item">View</span>
						<ul class="submenu">
							<li>Show Client</li>
							<li>Show Camera</li>
							<li>Show Controls</li>
						</ul>
					</li>
					<li><span class="item">Options</span></li>
				</ul>
			</header>

{{outlet}}

			<footer>
				
			</footer>

		</div>
	</div>
