	<div class="site-wrapper-inner">
		<div class="chrome-container">

			<header>
				<ul class="nav masthead-nav">
					<li class="masthead-brand">
						<span class="item">Archway v{{ version }}</span>
						<ul class="submenu">
							<li>{{#link-to 'about'}}About{{/link-to}}</li>
							<li><a href="http://github.com/patternleaf/archway">Archway on GitHub</a></li>
						</ul>
					</li>
					<li>
						<span class="item">Scene</span>
						<ul class="submenu">
							<li>
								<a {{action 'openScene'}} {{bind-attr class="commandOpenSceneEnabled:enabled:disabled"}}>
									Open &hellip; <span class="command-key">&#8984;O</span>
								</a>
							</li>
							<li>
								<a {{action 'saveSceneAs'}} {{bind-attr class="commandSaveSceneAsEnabled:enabled:disabled"}}>
									Save As &hellip; <span class="command-key">&#8679;&#8984;S</span>
								</a>
							</li>
							<li>
								<a {{action 'saveScene'}} {{bind-attr class="commandSaveSceneEnabled:enabled:disabled"}}>
									Save <span class="command-key">&#8984;S</span>
								</a>
							</li>
							<li><hr></li>
							<li>
								<a {{action 'selectModel3dFile'}} {{bind-attr class="commandSelectModel3dFileEnabled:enabled:disabled"}}>
									Load Model
								</a>
							</li>
							<li>
								<a {{action 'selectOPCLayoutFile'}} {{bind-attr class="commandSelectOPCLayoutFileEnabled:enabled:disabled"}}>
									Load OPC Layout
								</a>
							</li>
						</ul>
					</li>
					<li>
						<span class="item">OPC</span>
						<ul class="submenu">
						</ul>
					</li>

					<li {{bind-attr class='scene.viewable::disabled'}}>
						<span class="item">View</span>
						<ul class="submenu">
							{{#if scene.showClientControls }}
							<li><a {{action 'hideClientControls'}}><i class="fa fa-fw fa-check-square-o"></i> OPC Client Controls</a></li>
							{{else}}
							<li><a {{action 'showClientControls'}}><i class="fa fa-fw fa-square-o"></i> OPC Client Controls</a></li>
							{{/if}}
							{{#if scene.showCameraControls }}
							<li><a {{action 'hideCameraControls'}}><i class="fa fa-fw fa-check-square-o"></i> Camera Controls</a></li>
							{{else}}
							<li><a {{action 'showCameraControls'}}><i class="fa fa-fw fa-square-o"></i> Camera Controls</a></li>
							{{/if}}
							{{#if scene.showLegend }}
							<li><a {{action 'hideLegend'}}><i class="fa fa-fw fa-check-square-o"></i> Legend</a></li>
							{{else}}
							<li><a {{action 'showLegend'}}><i class="fa fa-fw fa-square-o"></i> Legend</a></li>
							{{/if}}
						</ul>
					</li>
					<li><span class="item">Options</span></li>
				</ul>
			</header>

{{outlet}}

			<footer>
				
			</footer>

		</div>
	</div>
