<div class="scene-view">
	<div id="three-view-container"></div>
	<div id="controls" class="ui-overlay">
		{{#if isAnimating }}
			<a {{action 'pauseAnimation'}}><i class="fa fa-fw fa-check-square-o"></i>Animating</a>
		{{else}}
			<a {{action 'playAnimation'}}><i class="fa fa-fw fa-square-o"></i>Animation Paused</a>
		{{/if}}
	</div>
	<div id="legend" {{bind-attr class=":ui-overlay scene.showLegend::hidden"}}>
		<dl>
			<dt>fwd</dt><dd>W</dd>
			<dt>back</dt><dd>S</dd>
			<dt>truck left</dt><dd>A</dd>
			<dt>truck right</dt><dd>D</dd>
			<dt>up</dt><dd>R</dd>
			<dt>down</dt><dd>F</dd>
			<dt>pan/tilt</dt><dd>click+drag mouse</dd>
		</dl>
	</div>
	<div id="camera" {{bind-attr class=":ui-overlay scene.showCameraControls::hidden"}}>
		<dl>
			<dt>x</dt><dd>{{input value=scene.sceneCamera.x type="number"}}</dd>
			<dt>y</dt><dd>{{input value=scene.sceneCamera.y type="number"}}</dd>
			<dt>z</dt><dd>{{input value=scene.sceneCamera.z type="number"}}</dd>
			<dt>lat</dt><dd>{{input value=scene.sceneCamera.lat type="number"}}</dd>
			<dt>lon</dt><dd>{{input value=scene.sceneCamera.lon type="number"}}</dd>
		</dl>
	</div>
</div>