<div class="scene-view">
	<div id="three-view-container"></div>
	<input type="text" class="focus-proxy" id="three-view-container-focus-proxy">
	<div id="opc-controls" class="ui-overlay">
		<h3>OPC Server</h3>
	</div>
	<div id="legend" {{bind-attr class=":ui-overlay scene.showLegend::hidden"}}>
		<dl>
			<dt>fwd</dt><dd>W</dd>
			<dt>back</dt><dd>S</dd>
			<dt>truck left</dt><dd>A</dd>
			<dt>truck right</dt><dd>D</dd>
			<dt>up</dt><dd>R</dd>
			<dt>down</dt><dd>F</dd>
			<dt>pan/tilt</dt><dd>mouse</dd>
		</dl>
	</div>
	<div id="camera" {{bind-attr class=":ui-overlay scene.showCameraControls::hidden"}}>
		<dl>
			<dt>x</dt><dd>{{input value=scene.sceneCamera.x type="number" step="any"}}</dd>
			<dt>y</dt><dd>{{input value=scene.sceneCamera.y type="number" step="any"}}</dd>
			<dt>z</dt><dd>{{input value=scene.sceneCamera.z type="number" step="any"}}</dd>
			<dt>lat</dt><dd>{{input value=scene.sceneCamera.lat type="number" step="any"}}</dd>
			<dt>lng</dt><dd>{{input value=scene.sceneCamera.lng type="number" step="any"}}</dd>
		</dl>
	</div>
</div>