<div class="scene-view">
	<div id="three-view-container"></div>
	<div id="controls" class="ui-overlay">
		{{#if isAnimating }}
			<button id="toggle-play" {{action 'pauseAnimation'}}>Pause</button>
		{{else}}
			<button id="toggle-play" {{action 'playAnimation'}}>Play</button>
		{{/if}}
	</div>
	
	<div id="legend" class="ui-overlay">
		<dl>
			<dt>fwd</dt><dd>W</dd>
			<dt>back</dt><dd>S</dd>
			<dt>truck left</dt><dd>A</dd>
			<dt>truck right</dt><dd>D</dd>
			<dt>up</dt><dd>R</dd>
			<dt>down</dt><dd>F</dd>
			<dt>pan/tilt</dt><dd>click+drag mouse</dd>
		</dl>
		<dl>
			<dt>x</dt><dd>{{input value=scene.sceneCamera.x type="number"}}</dd>
			<dt>y</dt><dd>{{input value=scene.sceneCamera.y type="number"}}</dd>
			<dt>z</dt><dd>{{input value=scene.sceneCamera.z type="number"}}</dd>
		</dl>
	</div>
	
</div>